<div class='container mt-4'>
  @if (loading()) {
  <div class='text-center'>
    <div class='spinner-border'></div>
  </div>
  } @else if (post()) {
  <a routerLink='/home' class='btn btn-outline-secondary mb-4'>
    ← Back
  </a>
  <div class='card shadow-sm'>
    <div class='card-body'>
      <div class='d-flex justify-content-between align-items-start'>
        <div>
          <h2>
            {{ post()?.title }}
          </h2>
          <p class='text-muted mb-0'>
            By <strong>{{ post()?.user?.name }}</strong>
          </p>
        </div>
        <span class='badge bg-primary'>
          {{ post()?.category?.name }}
        </span>
      </div>
      <hr>
      <small class='text-muted'>
        Created at
        {{ post()?.createdAt | date:'dd/MM/yyyy HH:mm' }}
      </small>
      <hr>
      <p style='white-space: pre-line;'>
        {{ post()?.content }}
      </p>
      <hr>
      <div class='d-flex gap-2'>

        @if (canEdit) {
        <button class='btn btn-outline-warning btn-sm' (click)='editPost()'>
          Edit
        </button>
        }

        @if (canDelete) {
        <button class='btn btn-outline-danger btn-sm' (click)='deletePost()'>
          Delete
        </button>
        }

      </div>
    </div>
  </div>

  <div class='card mt-4'>
    <div class='card-header'>
      <h4 class='mb-0'>
        Comments ({{ post()?.comments?.length ?? 0 }})
      </h4>
    </div>
  
    <div class='card-body'>
    @if ((post()?.comments?.length ?? 0) === 0) {
      <p class='text-muted mb-0'>
        No comments yet.
      </p>
    } @else {
      @for (comment of (post()?.comments ?? []); track comment.id) {
        <app-comment-card
          [comment]='comment'
          [postId]='post()!.id'
          (updated)='commentSaved()'
          (deleted)='commentDeleted()'>
        </app-comment-card>
        @if (!$last) {
          <hr>
        }
      }
    }
    </div>
  </div>

  <div class='card mt-4'>
    <div class='card-header'>
      Add Comment
    </div>
    <div class='card-body'>
      <app-comment-form
        [postId]='post()!.id'
        (saved)='commentSaved()'>
      </app-comment-form>
    </div>
  </div>
  }
  
  @if (showForm()) {
  <app-post-form
    [post]='post()'
    (saved)='postSaved()'
    (cancelled)='closeForm()'>
  </app-post-form>
  }
  
</div>