<h2>Categories</h2>

<form (ngSubmit)='save()'>
  <div class='mb-3'>
    <label for='name'>Name</label>
    <input
      id='name'
      type='text'
      class='form-control'
      name='name'
      [(ngModel)]='request.name'>
  </div>

  <button class='btn btn-outline-success' type='submit'>
    {{ editingId ? 'Update' : 'Save' }}
  </button>

  @if (editingId) {
  <button type='button' class='btn btn-outline-secondary ms-2'
    (click)='cancel()'>
    Cancel
  </button>
  }
</form>

<table class='table table-hover mt-5'>
  <thead>
    <tr>
      <th>Category</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (category of categories(); track category.id) {
    <tr>
      <td>{{ category.name }}</td>
      <td>
        <button class='btn btn-outline-warning btn-sm me-2'
          (click)='edit(category)'>
          Edit
        </button>
        <button class='btn btn-outline-danger btn-sm' 
          (click)='delete(category.id)'>
          Delete
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>