<div class='container-fluid'>
  <div class='row d-flex align-items-center'>

    <div class='col-md-6' id='img-bg'></div>

    <div class='col-md-6'>
      <div class='row d-flex justify-content-center'>
        <div class='col-md-10'>

          <h1 class='text-center mb-3'>Register</h1>

          <div class='form-group'>
            <label for='name'>Name</label>
            <input
              id='name'
              type='text'
              class='form-control'
              name='name'
              placeholder=''
              [(ngModel)]='request.name'>
          </div>

          <div class='form-group'>
            <label for='email'>E-mail</label>
            <input
              id='email'
              type='text'
              class='form-control'
              name='email'
              placeholder=''
              [(ngModel)]='request.email'>
          </div>

          <div class='form-group'>
            <label for='photo'>Photo</label>
            <input
              id='photo'
              type='text'
              class='form-control'
              name='photo'
              placeholder=''
              [(ngModel)]='request.photo'>
          </div>

          <div class='form-group'>
            <label for='password'>Password</label>
            <input
              id='password'
              type='password'
              class='form-control'
              name='password'
              placeholder=''
              [(ngModel)]='request.password'>
          </div>

          <div class='form-group'>
            <label for='confirmPassword'>Confirm password</label>
            <input
              id='confirmPassword'
              type='password'
              class='form-control'
              name='confirmPassword'
              placeholder=''
              [(ngModel)]='confirmPassword'>
          </div>

          <div class='d-flex justify-content-center'>
            <button type='submit'
              class='btn btn-outline-danger mr-4'
              routerLink='/'>Cancel</button>
            <button type='submit'
              class='btn btn-outline-success'
              (click)='register()'>Register</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
